<%- include('header', {rol: usuario.rol}); %>
    <!--___________________________CONTENIDO______________________________-->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Listas</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Main content -->
      <section class="content">
        <div id="resultados_ajax4"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-success card-outline p-2">
                <div class="card-header with-border">
                  <h1 class="box-title">
                  <button class="btn btn-success" id="add_button" onclick="limpiar()" data-toggle="modal" data-target="#tramiteModal"> Agregar </button></h1>
                  <div class="box-tools pull-right">
                  </div>
                </div>
                <div class="card-body table-responsive">
                  <table id="tramite_data" class="table table-sm table-bordered table-striped">
                    <thead>
                      <tr>
                        <th width="5%">#</th>
                        <th>Nombre</th>
						<th>Descripcion</th>
                        <th>Estatus</th>
                        <th width="20%">Acci贸n</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div><!--Fin centro -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--FORMULARIO VENTANA MODAL-->
    <div  id="tramiteModal" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form method="post" id="tramite_form">
            <div class="modal-content card-success card-outline">
              <div class="modal-header">
                <h4 class="modal-title">Agregar Lista</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-row">
                  <div class="col-md-10 offset-md-1 mb-3">
                    <label><code>*</code> &nbsp; Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" required  />
                    <input type="hidden" name="nombreOriginal" id="nombreOriginal" class="form-control"   />
                  </div>
                </div>

				        <div class="form-row">
                  <div class="col-md-10 offset-md-1 mb-3">
                    <label><code>*</code> &nbsp; Descripci贸n</label>
                    <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="" required  />
                  </div>
                </div>
                <br>
                <code>&nbsp; &nbsp; &nbsp;(*) Campos Obligatorios</code>
              </div>
              <div class="modal-footer">
                <input type="hidden" name="idlista" id="idlista"/>
                <button type="submit" name="action" id="btnGuardar" class="btn btn-success pull-left" value="Add">Guardar <i class="fas fa-user-check"></i></button>
                <button type="button" onclick="limpiar()" class="btn btn-danger" data-dismiss="modal">Cerrar <i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>




<!-- MODAL DE MENSAJES  ASOCIAR RECAUDOS-->
<form name="lista_asociar_repuesto_lista_form" action="post" id="lista_asociar_repuesto_lista_form" action="#" autocomplete="off">
  <div class="modal fade bd-example-modal-lg" id="listaAsociarRepuestoModal" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asociar Repuestos</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">

              <div id="resultados_ajax_msj"></div>

              <div class="form-row">
                <div class="col-md-6 mb-6">

                    <ul style="font-size: 14px;">
                    <li>Nombre: <strong> <span id="spannombre"> </span> </strong> </li>
                    </ul>

                </div>

                <div class="col-md-6 mb-6">

                    <ul style="font-size: 14px;">
                    <li>Descripci贸n:   <strong> <span id="spandescripcion">   </span> </strong> </li>
                    </ul>

                </div>
            </div>

            <div class="form-row">

                <div class="col-md-6 mb-6">
                    <label>Repuesto:</label>
                    <select style="width:100%;" class="form-control js-example-basic-multiple" required name='idrepuestos' id='idrepuestos' class='selecs controlDisabled cursor-bloqueado' onchange="" >
                        <option value="" >Seleccione un repuesto</option>
                        <%
                            var resultado = items;
                             for(var i = 0; resultado[i]; i++){
                                 if(resultado[i].estatus == 1){
                                  %><option value='<%= resultado[i].idinventario %>'><%= resultado[i].descripcion %> <%= resultado[i].numero_parte %> / <%= resultado[i].numero_parte_secundario %></option> <%
                                 }
                             }
                         %>
                      </select>
                </div>

                <div class="col-md-5 mb-5">
                  <label>Cantidad</label>
                  <input type="text" name="cantidad" id="cantidad" class="form-control" placeholder="" required onKeyPress="return fnv_soloNumeros(event)" />
                </div>

                <div class="col-md-1 mb-1">
                <label>&nbsp; &nbsp;</label>
                  <button type="submit" onClick=""  title="Agregar Repuestos" id="" class="btn btn-success btn-md update"><i class="glyphicon glyphicon-edit"></i><i class="fas fa-plus"></i></button>
                </div>

            </div>


            <div class="form-row">
                <div class="col-md-12 mb-12">
                  <table id="tramite_data" class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                        <th style='text-align: center;' width="5%">#</th>
                        <th style='text-align: center;' width="10%">Ref.</th>
                        <th style='text-align: center;' width="55%">Repuesto</th>
                        <th style='text-align: center;' width="15%">Cant.</th>
                        <th style='text-align: center;' width="15%">Precio U.</th>
                        <th style='text-align: center;' width="10%">Acci贸n</th>
                        </tr>
                    </thead>
                    <tbody id="repuesto_data_tbody">

                    </tbody>
                  </table>
                </div>
            </div>


              </div>
              <div class="modal-footer">
                <input type="hidden" name="idlista" id="idlistaAsociarRepuestos"/>
                <button type="button" onclick="generarpdf()" class="btn btn-primary" >Imprimir <i class="fa fa-list-ul" aria-hidden="true"></i></button>
                <button type="button" onclick="limpiar()" class="btn btn-danger" data-dismiss="modal">Cerrar <i class="fa fa-times" aria-hidden="true"></i></button>
              </div>
          </div>
      </div>
  </div>
</form>
<!-- /MODAL DE MENSAJES ASOCIAR RECAUDOS -->
<% include footer %>

<script>
  <% include js/mlista.js %>
</script>

<script>
  function generarpdf(){
      var idlista  = $("#idlistaAsociarRepuestos").val();
      var detalles  = $("#reporte").val();

          window.open("reportes/control/lista.pdf?idlista=" + idlista );

  }
</script>

<link rel="stylesheet" href="../public/plugins/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" />
<script type="text/javascript" src="../public/plugins/x-editable/dist/bootstrap3-editable/js/bootstrap-editable2.min.js"></script>

<script>

  $(document).ready(function() {
    $('.js-example-basic-multiple').select2({
          language: "es"
        , theme: "bootstrap"
        , width: null
        , tokenSeparators: [',', ' ']
        , minimumInputLength: 1
    });


  });

</script>
